**/build
# **/tree-sitter
tree-sitter/lib.o
tree-sitter/libtree-sitter.a
# **/tree-sitter-c
tree-sitter-c/src/tree_sitter/
tree-sitter-c/ooo_treesitter_symbol_ids.h
**/.cache
googletest/build/
**/trash
*.lib
*.obj
*.exp

nob
nob.old
style
style.old
ooo
otest
donut
conway

nob.exe
nob.old.exe
style.exe
style.old.exe
ooo.exe
otest.exe
donut.exe
conway.exe
