**/build
**/tree-sitter
**/tree-sitter-c
**/examples
**/.cache
**/googletest
nobuild
nobuild.old
nob
nob.old
ooo
otest
output.c

nobuild.exe
nobuild.exe.old
nob.exe
nob.exe.old
ooo.exe
otest.exe
unzip.exe
