**/build
**/tree-sitter
**/tree-sitter-c
**/examples
**/.cache
**/googletest
**/ooo_generate
**/trash

nobuild
nobuild.old
nob
nob.old
style
style.old
ooo
otest
output.c

nobuild.exe
nobuild.exe.old
nob.exe
nob.exe.old
style.exe
style.exe.old
ooo.exe
otest.exe
unzip.exe
